/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {

    /* Primary Colors */
    --dark-grayish-blue: hsl(217, 19%, 35%); /* headings */
    --desaturated-dark-blue: hsl(214, 17%, 51%); /* paragraphs */
    --grayish-blue: hsl(212, 23%, 69%); /* small text */
    --light-grayish-blue: hsl(210, 46%, 95%); /* background */

    /* Font families */
    --ff-sans-serif: 'Manrope', sans-serif;

    /* Font weights */
    --fw-regular: 500;
    --fw-bold: 700;

    /* Font sizes */
    --fs-paragraph: 13px;
    
}

*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
p {
    color: var(--desaturated-dark-blue);
    font-weight: var(--fw-regular);
    line-height: 26px;
} 
h2, b {
    color: var(--dark-grayish-blue);
}
p span {
    color: var(--grayish-blue);
}
a { color: inherit; }

.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--ff-sans-serif);
    background-color: var(--light-grayish-blue);
    padding: 5vw;
    overflow: hidden;
}


/* PREVIEW COMPONENT */ 
.wrapper .preview-component {
    max-width: 860px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 14px;
    box-shadow: 0px 12px 20px 0px hsla(217, 19%, 35%, 0.2);
    z-index: 0;
    position: relative;
}
.wrapper .image {
    min-height: 300px;
    min-width: 300px;
    flex: 1 2 100px;
    background-image: url(./assets/images/drawers.jpg);
    background-size: cover;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}
.wrapper .description {
    padding: 30px 50px;
    min-width: 300px;
    flex: 2 1 100px;
}
.footnote {
    display: flex;
    justify-content: space-between;
}

/* AUTHOR */ 
.author {
    display: flex;
    gap: 13px;
    align-items: center;
}
img.author-avatar {
    border-radius: 100%;
    width: 60px;
    height: 60px;
}
.author p { margin: 0; }


/* SHARE BUTTON */
.share-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    background-color: var(--light-grayish-blue);
    border-radius: 100%;
    cursor: pointer;
    transition: all 400ms;
}
.share-btn svg {
    fill: #6E8098;
}
.socialmedia:hover .share-btn,
.share-btn:hover,
.share-btn-withjs   /* classname to simplify js use */
{
    background-color: var(--desaturated-dark-blue);
}
.socialmedia:hover .share-btn svg,
.share-btn:hover svg,
.share-btn-withjs svg    /* classname to simplify js use */
{
    fill: #fff;
}
.social {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: -100px;
    margin-top: -130px;
    padding: 1rem 2.5rem;
    background-color: var(--dark-grayish-blue);
    border-radius: 12px;
    color: var(--grayish-blue);
    font-size: 12px;
    letter-spacing: .3rem;
    cursor: default;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out; 
    opacity: 0;
}
.social::after {
    content: '';
    width: 20px;
    height: 20px;
    background-color: var(--dark-grayish-blue);
    position: absolute;
    bottom: -8px;
    transform: rotate(45deg);
    z-index: -1;
}
.social img {
    margin-left: 14px;
    cursor: pointer;
    opacity: .85;
}
.social img:hover {
    opacity: 1;
    transition: 400ms;
}
.socialmedia .share-btn:hover ~ .social,
.social:hover,
.social-withjs  /* classname to simplify js use */
{ 
    transform: scale(1.2);
    visibility: visible;
    opacity: 1;
}


/* ALTERNATE SHARE BUTTON */
input[type=checkbox] { 
    appearance: none; 
    background-image: url(./assets/images/icon-share.svg);
    background-repeat: no-repeat;
    background-position: center;
}
input[type=checkbox]:hover {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="13"><path fill="%23ffffff" d="M15 6.495L8.766.014V3.88H7.441C3.33 3.88 0 7.039 0 10.936v2.049l.589-.612C2.59 10.294 5.422 9.11 8.39 9.11h.375v3.867L15 6.495z"/></svg>');
}
/* we don't need this style for small screen */
/* we have a script for share btn for small screen */
@media screen and (min-width: 667px) {
    input[type=checkbox]:checked ~ .social{
        transform: scale(1.2);
        visibility: visible;
        opacity: 1;
    }
    input[type=checkbox]:checked{
        background-color: var(--desaturated-dark-blue);
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="13"><path fill="%23ffffff" d="M15 6.495L8.766.014V3.88H7.441C3.33 3.88 0 7.039 0 10.936v2.049l.589-.612C2.59 10.294 5.422 9.11 8.39 9.11h.375v3.867L15 6.495z"/></svg>');
    }
}

/* NOTE */
.note {
    opacity: .5;
    font-size: 14px;
    color: #6E8098;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    bottom: -100px;
    text-align: center;
    z-index: -1;
}
.socialmedia:hover .note,
.socialmedia-withjs:hover .note {
    opacity: 1;
}


/* MOBILE STYLES */
.footnote-mobile { display: none; }

@media screen and (max-width: 666px) {
    .note { display: none; }
    .wrapper .image { 
        border-radius: 0;
        border-top-left-radius: 14px;
        border-top-right-radius: 14px; 
    }
    .preview-component { flex-direction: column; }
    .wrapper .description { padding: 20px 40px; }
    h2 { font-size: 1.1rem; }
    p { font-size: .88em; line-height: 1.4rem; }
    .description .text { margin-bottom: 30px; }
    .footnote { align-items: center; }
    .footnote-mobile { 
        background-color: var(--dark-grayish-blue);
        padding: 20px 40px;
        border-bottom-left-radius: 14px;
        border-bottom-right-radius: 14px;
        width: calc(100% + 80px);
        margin-left: -40px;
        margin-bottom: -20px;
    }
    .socialmedia-mobile { 
        display: flex; 
        justify-content: space-between; 
    }
    .social-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--grayish-blue);
        font-size: 12px;
        letter-spacing: .3rem;
    }
    .social-mobile img {
        margin-left: 14px;
    }
    .share-btn {
        width: 36px;
        height: 36px;
        margin-top: 0px;
    }
    .footnote-mobile .share-btn {
        background-color: var(--desaturated-dark-blue);
    }
    img.author-avatar { width: 56px; height: 56px; }
  }