/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {

    /* Primary Colors */
    --dark-grayish-blue: hsl(217, 19%, 35%); /* headings */
    --desaturated-dark-blue: hsl(214, 17%, 51%); /* paragraphs */
    --grayish-blue: hsl(212, 23%, 69%); /* small text */
    --light-grayish-blue: hsl(210, 46%, 95%); /* background */

    /* Font families */
    --ff-sans-serif: 'Manrope', sans-serif;

    /* Font weights */
    --fw-regular: 500;
    --fw-bold: 700;

    /* Font sizes */
    --fs-paragraph: 13px;
    
}
*, *::before, *::after {
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--ff-sans-serif);
    background-color: var(--light-grayish-blue);
    padding: 0 100px;
}
.wrapper .preview-component{
    max-width: 860px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
    border-radius: 14px;
}
.wrapper .image {
    min-height: 300px;
    min-width: 300px;
    flex: 1 2 100px;
    background-image: url(./assets/images/drawers.jpg);
    background-size: cover;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}
.wrapper .description{
    padding: 30px 50px;
    min-width: 300px;
    flex: 2 1 100px;
}
.footnote {
    display: flex;
    justify-content: space-between;
    align-items: top;
}
.author {
    display: flex;
    gap: 13px;
    align-items: center;
}
img.author-avatar {
    border-radius: 100%;
    width: 60px;
    height: 60px;
}
.author p { margin: 0; }
.share{
    background-color: var(--light-grayish-blue);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    background-image: url(./assets/images/icon-share.svg);
    background-position: center;
    background-repeat: no-repeat;
}
p{
    color: var(--desaturated-dark-blue);
    font-weight: var(--fw-regular);
    line-height: 26px;
} 
h2, b{
    color: var(--dark-grayish-blue);
}
p span{
    color: var(--grayish-blue);
}
